<div class="banner">
    <div class="content">
        <a routerLink="menu">ORDER NOW <i class="bi bi-arrow-right"></i></a>
    </div>
</div>
<div class="container mt-4 mb-5">
    <div class="row">
        <h1 class="text-center mb-4">How to get <span class="highlight">fresh food</span></h1>
        <div class="col-lg-4">
            <div class="stepBox">
                <h1>1</h1>
                <p>Select your food</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stepBox">
                <h1>2</h1>
                <p>Fill required details</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stepBox">
                <h1>3</h1>
                <p>Get your food, at your doorstep</p>
            </div>
        </div>
    </div>
</div>